<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windoor.techcentermgn.staffWorkPlan.mapper.LDetailMapper" >
  <resultMap id="BaseResultMap" type="com.app.model.LDetail" >
    <result column="l_id" property="lId" jdbcType="INTEGER" />
    <result column="l_line" property="lLine" jdbcType="VARCHAR" />
    <result column="l_order" property="lOrder" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.app.model.LDetail" >
    insert into l_detail (l_id, l_line, l_order
      )
    values (#{lId,jdbcType=INTEGER}, #{lLine,jdbcType=VARCHAR}, #{lOrder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.app.model.LDetail" >
    insert into l_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lId != null" >
        l_id,
      </if>
      <if test="lLine != null" >
        l_line,
      </if>
      <if test="lOrder != null" >
        l_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lId != null" >
        #{lId,jdbcType=INTEGER},
      </if>
      <if test="lLine != null" >
        #{lLine,jdbcType=VARCHAR},
      </if>
      <if test="lOrder != null" >
        #{lOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>